<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course to Delete</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style2.css' %}">
</head>
<body>
    <a href="/">Go Back</a>
    <h2>Are you sure you want to delete this course?</h2>
    <p>Name: {{d_course.name}}</p><br>
    <p>Description: {{d_course.description}}</p><br>
    <a href="/"><button>No</button></a> <a href="/delete/{{d_course.id}}"><button id="delete">Yes! I want to delete this</button></a><br>
    
</body>
</html>